.cartContainer{
    position: relative;

}
.productsQuant{
    border: 0.5px solid white;
   border-radius: 50%;
    padding: 5px;
    color: white;
    position: absolute;
    left: 10px;
    top: -65%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
